# Topic-1 (Variables & Data Types)

In [1]:
x = 10        # integer
y = 3.14      # float
name = "Rahul"  # string
is_active = True  # boolean

print(x, y, name, is_active)

10 3.14 Rahul True

In [5]:
print(type(is_active))

<class 'bool'>

In [ ]:
roll_no = 101       # int
percentage = 85.6   # float
student_name = "Deepali"   # string
passed = True       # bool

# Operators

In [6]:
#Arithmetic Operators
a = 9
b = 2
print("a+b =", a+b)
print("a-b =", a-b)
print("a*b =", a*b)
print("a/b =", a/b)
print("a//b =", a//b)
print("a%b =", a%b)
print("a**b =", a**b)

a+b = 11
a-b = 7
a*b = 18
a/b = 4.5
a//b = 4
a%b = 1
a**b = 81

In [7]:
#Assignment Operators
x = 10
x += 5   # x = 10+5
print(x) # 15

15

In [8]:
#Comparison Operators
print(5 == 5)  # True
print(5 < 3)   # False

True
False

In [9]:
#Logical Operators [AND OR NOT]
x = 7
print(x > 5 and x < 10)  # True
print(x > 10 or x == 7)  # True
print(not(x == 7))       # False

True
True
False

In [10]:
#Type Casting
x = "100"      # string
y = int(x)     # string â†’ int
z = float(x)   # string â†’ float

print(y + 10)   # 110
print(z + 0.5)  # 100.5

110
100.5

In [11]:
#User Input
name = input("Enter your name: ")
print("Hello,", name)

Enter your name: Sandeep
Hello, Sandeep

# String

In [12]:
#String Indexing
word = "Python"
print(word[0])   # P
print(word[1])   # y
print(word[-1])  # n (last character)

P
y
n

In [13]:
#String Slicing
word = "Python"
print(word[0:4])   # Pyth (0 se 3 tak)
print(word[:3])    # Pyt (default start = 0)
print(word[2:])    # thon (2 se end tak)
print(word[-3:])   # hon (last 3 characters)
print(word[:-3])

Pyth
Pyt
thon
hon

In [14]:
#Common String Methods
text = "  hello world  "
print(text.upper())      # HELLO WORLD
print(text.lower())      # hello world
print(text.replace("world", "Python"))  # hello Python
print(text.split())      # ['hello', 'world']
print(text.strip())      # hello world

  HELLO WORLD
  hello world
  hello Python
['hello', 'world']
hello world

In [15]:
#f-string
name = "Rahul"
age = 22
print(f"My name is {name} and I am {age} years old.")

My name is Rahul and I am 22 years old.

# List

In [21]:
#list and method
numbers = [5, 2, 9, 1]

numbers.append(7)     # [5,2,9,1,7]
numbers.insert(1, 3)  # [5,2,3,9,1,7]
numbers.remove(9)     # [5,2,3,1,7]
numbers.sort()        # [1,2,3,5,7]
numbers.reverse()     # [7,5,3,2,1]
print(numbers)

[7, 5, 3, 2, 1]

In [22]:
#Slicing in Lists
fruits = ["apple", "banana", "cherry", "mango", "orange"]
print(fruits[1:4])   # ['banana', 'cherry', 'mango']
print(fruits[:3])    # ['apple', 'banana', 'cherry']
print(fruits[-3:])   # ['cherry', 'mango', 'orange']

['banana', 'cherry', 'mango']
['apple', 'banana', 'cherry']
['cherry', 'mango', 'orange']

In [ ]:
fruits = ["apple", "banana", "cherry", "mango", "orange"]
#access 0
#3:4
#-3:0

In [23]:
#Nested Lists
matrix = [[1,2,3], [4,5,6], [7,8,9]]
print(matrix[0])      # [1,2,3]
print(matrix[0][1])   # 2 (row 0, column 1)

[1, 2, 3]
2

# Tuples

In [24]:
#tuples
numbers = (10, 20, 30, 40)
print(numbers)
print(numbers[1])    # 20

(10, 20, 30, 40)
20

In [26]:
#tuple method
t = (1, 2, 3, 2, 4,2)
print(t.count(2))   # 2
print(t.index(3))   # 2

3
2

In [27]:
#append tuple
t = (5, 2, 9, 1)
temp = list(t)       # tuple â†’ list
temp.append(7)
temp.sort()
t = tuple(temp)      # list â†’ tuple
print(t)

(1, 2, 5, 7, 9)

# SET

In [29]:
fruits = {"apple", "banana", "apple", "mango"}
print(fruits)   # {'apple', 'banana', 'mango'}

{'banana', 'mango', 'apple'}

In [30]:
#union and interaction
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))   # {1, 2, 3, 4, 5}
print(a.intersection(b))   # {3}
print(a.difference(b))   # {1, 2}
print(b.difference(a))   # {4, 5}

{1, 2, 3, 4, 5}
{3}
{1, 2}
{4, 5}

# Dict

In [31]:
student = {
    "name": "Rahul",
    "age": 21,
    "course": "Python"
}
print(student["name"])   # Rahul
print(student["age"])    # 21

Rahul
21

In [32]:
#add item
student["grade"] = "A"     # New key add
print(student)

#update
student["age"] = 22    # Age update
print(student)

#delete
student.pop("age")
print(student)

#del student["course"]
#student.clear()

{'name': 'Rahul', 'age': 21, 'course': 'Python', 'grade': 'A'}
{'name': 'Rahul', 'age': 22, 'course': 'Python', 'grade': 'A'}
{'name': 'Rahul', 'course': 'Python', 'grade': 'A'}

In [33]:
#Looping Over Dictionary

for key in student:
    print(key)   # sirf keys


for value in student.values():
    print(value)


for key, value in student.items():
    print(key, ":", value)

name
course
grade
Rahul
Python
A
name : Rahul
course : Python
grade : A

In [34]:
#dict mapping alternative to switch
def switch_example(day):
    switcher = {
        1: "Monday",
        2: "Tuesday",
        3: "Wednesday"
    }
    return switcher.get(day, "Other day")

print(switch_example(3))   # Wednesday
print(switch_example(5))   # Other day

Wednesday
Other day

# Conditional statement

In [37]:
age = 17
if age >= 18:
    print("You can vote!")
else:
    print("no vote")

no vote

In [39]:
marks = 76
if marks >= 50:
    print("Pass")
else:
    print("Fail")

Pass

In [40]:
marks = 75

if marks >= 90:
    print("Grade A")
elif marks >= 75:
    print("Grade B")
elif marks >= 50:
    print("Grade C")
else:
    print("Fail")

Grade B

In [42]:
#login check
username = input("Enter username: ")
password = input("Enter password: ")

if username == "admin" and password == "1234":
    print("Login Successful")
else:
    print("Invalid Credentials")

Enter username: admin
Enter password: 900
Invalid Credentials

In [ ]:
#grading system
marks = int(input("Enter your marks: "))

if marks >= 90:
    print("Grade A")
elif marks >= 75:
    print("Grade B")
elif marks >= 50:
    print("Grade C")
else:
    print("Fail")

# Loop

In [43]:
#for
for i in range(5):
    print(i)


nums = [10, 20, 30, 40, 50]

for n in nums:
    print(n)

0
1
2
3
4
10
20
30
40
50

In [44]:
#break
for i in range(1, 10):
    if i == 5:
        break
    print(i)

1
2
3
4

In [45]:
#continue
for i in range(1, 6):
    if i == 3:
        continue
    print(i)

1
2
4
5

In [46]:
#pass
for i in range(5):
    if i == 2:
        pass
    print(i)

0
1
2
3
4

In [47]:
#While
count = 5

while count > 0:
    print("Countdown:", count)
    count -= 1

print("Timeâ€™s up! ðŸš€")

Countdown: 5
Countdown: 4
Countdown: 3
Countdown: 2
Countdown: 1
Timeâ€™s up! ðŸš€

# Function

In [48]:
def greet():
    print("Hello! Welcome to Python.")

# function call
greet()

Hello! Welcome to Python.

In [50]:
def add(a, b):
    return a + b

result = add(7, 7)
print("Sum:", result)

Sum: 14

In [51]:
def greet(name="guest"):
    print("Hello", name)

greet("Rahul")   # custom
greet()          # default

Hello Rahul
Hello guest

In [52]:
#local and global
x = 10   # global variable

def demo():
    x = 5   # local variable
    print("Inside function:", x)

demo()
print("Outside function:", x)

Inside function: 5
Outside function: 10

# File handling

In [ ]:
#open
f = open("filename.txt", "mode")

In [ ]:
#read
f = open("data.txt", "r")
content = f.read()
print(content)
f.close()

In [ ]:
#write
f = open("data.txt", "w")
f.write("Hello Students!\n")
f.close()

In [ ]:
#append
f = open("data.txt", "a")
f.write("New line added.\n")
f.close()

In [ ]:
#with - automatic close
with open("data.txt", "r") as f:
    print(f.read())

In [ ]:
#Example

with open("marks.txt", "w") as f:
    f.write("Rahul: 85\n")
    f.write("Sneha: 92\n")
    f.write("Amit: 76\n")


with open("marks.txt", "r") as f:
    print(f.read())

# Error handling

In [53]:
try:
    num = int(input("Enter a number: "))
    print("Number:", num)
except ValueError:
    print("Please enter only numbers!")

Enter a number: sandeep
Please enter only numbers!

In [55]:
try:
    a = 10 / 5
except ZeroDivisionError:
    print("Cannot divide by zero!")
finally:
    print("Program finished")

Program finished

In [56]:
#Custom Error Messages
try:
    age = int(input("Enter age: "))
    if age < 0:
        raise ValueError("Age cannot be negative!")
    print("Your age is:", age)
except ValueError as e:
    print(e)

Enter age: -6
Age cannot be negative!

# Module & lib

In [57]:
#module
import math
print(math.sqrt(25))   # 5.0

5.0

In [58]:
#lib
import numpy as np
arr = np.array([1,2,3])
print(arr * 2)   # [2 4 6]

[2 4 6]

In [59]:
#create module
def add(a, b): return a + b
def sub(a, b): return a - b
def mul(a, b): return a * b
def div(a, b): return a / b if b != 0 else "âŒ Cannot divide by 0"

In [60]:
#use module
import calculator

print("Add:", calculator.add(10, 5))
print("Sub:", calculator.sub(10, 5))
print("Mul:", calculator.mul(10, 5))
print("Div:", calculator.div(10, 0))

ModuleNotFoundError: No module named 'calculator'

# OOPS

In [62]:
class Car:
    pass

my_car = Car()
print(type(my_car))

<class '__main__.Car'>

In [63]:
#attribute
class Car:
    def __init__(self, brand, color):
        self.brand = brand      # attribute
        self.color = color      # attribute

    def drive(self):            # method
        print(f"{self.brand} is driving...")

my_car = Car("Tesla", "Red")

print(my_car.brand)     # Tesla
print(my_car.color)     # Red

my_car.drive()          # Tesla is driving...

Tesla
Red
Tesla is driving...

In [65]:
#constructor
class Student:
    def __init__(self, name, marks):
        self.name = name
        self.marks = "90"

    def show(self):
        print(f"Name: {self.name}, Marks: {self.marks}")

s1 = Student("Rahul", 85)   # constructor call
s1.show()

Name: Rahul, Marks: 90